﻿@model CNBVSolucion.Models.Entities.User

<div class="col-sm-12">
    @using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data", id = "form" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        @Html.HiddenFor(model => model.UserId)
        @Html.HiddenFor(model => model.RegisterDate)
        @Html.HiddenFor(model => model.UpdateDate)


        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label>Alias:</label>
                    @Html.TextBoxFor(model => model.Alias, new { @class = "form-control", @required = "required" })
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>Name:</label>
                    @Html.TextBoxFor(model => model.Name, new { @class = "form-control", @required = "required" })
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>Password:</label>
                    @Html.TextBoxFor(model => model.Pass, new { @class = "form-control", @required = "required" })

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label>Role:</label>
                    @Html.ListBox("UserRole",null, new { @class = "form-control", @required = "required", size = "6" })
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>Activo:</label><br />
                    @Html.EditorFor(model => model.Active, new { @class = "form-control", @required = "required" })
                </div>
            </div>
        </div>
    }
</div>
<script type="text/javascript">

    $(document).ready(function () {
        //Validaciones
        $("#form").validate();
        jQuery.extend(jQuery.validator.messages, { required: "El campo es requerido." });

        ////Formulario
        $("#form").ajaxForm({
            success: function (data) {
                if (data.msg == "ok") {
                    dg.empty();
                    dg.dialog("destroy");
                    alert("Registro Correcto");
                    GetListUser();
                }
                else {
                    alert(data.msg);
                }
            },
            error: function (status) {
                alert(status.statusText);
            }
        });



    });

</script>



