﻿@model IEnumerable<CNBVSolucion.Models.Entities.User>
@using PagedList.Mvc;
@using PagedList;

<table class="table table-bordered">
    <thead>
        <tr class="info">
            <th class="text-center" width="10%">Acciones</th>
            <th class="text-center" width="10%">UserId</th>
            <th class="text-center" width="20%">Name</th>
            <th class="text-center" width="20%">Alias</th>
            <th class="text-center" width="10%">Active</th>
            <th class="text-center" width="10%">Date Register</th>
            <th class="text-center" width="10%">Date Update</th>
            <th class="text-center" width="10%">Roles</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td style="text-align:center">
                <a href="#" title="Editar" class="text-success" onclick="EditUser(@item.UserId)"><i class="glyphicon glyphicon-pencil"></i></a>
                <a href="#" title="Eliminar" class="text-danger" onclick="DeleteUser(@item.UserId)"><i class="glyphicon glyphicon-remove"></i></a>
            </td>
            <td>@item.UserId</td>
            <td>@item.Name</td>
            <td>@item.Alias</td>
            <td>@item.Active</td>
            <td>@item.RegisterDate.ToShortDateString()</td>
            <td>@item.UpdateDate.ToShortDateString()</td>
            <td>
                @foreach (var role in item.UserRole) {
                    <span>@role.Role.Name</span>
                }
            </td>
        </tr>
        }
    </tbody>
</table>
<div class="">
    @Html.PagedListPager((
        IPagedList)Model,
                    page => Url.Action("_ListUser",
        new
        {
            page = page,
            roleId = ViewBag.roleId,
        }),
        PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new PagedListRenderOptions
        {
            LinkToFirstPageFormat = String.Format("Primero"),
            LinkToPreviousPageFormat = String.Format("<< Anterior"),
            LinkToNextPageFormat = String.Format("Siguiente >>"),
            LinkToLastPageFormat = String.Format("Último"),
            MaximumPageNumbersToDisplay = 5,
            DisplayEllipsesWhenNotShowingAllPageNumbers = false,
        },
        new AjaxOptions()
        {
            HttpMethod = "GET",
            UpdateTargetId = "tableUser"
        }
    ))

</div>
